* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #ededed;
}

nav h3 {
  margin-left: 10px;
  font-size: 1.5rem;
}

nav img {
  width: 45px;
  object-fit: contain;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #ededed;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  min-height: calc(100vh - 70px);
}

.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  /* box-shadow: 2px 15px 20px 8px rgba(221, 221, 221, 0.75); */
  box-shadow: 2px 15px 20px 8px rgba(121, 119, 119, 0.75);
  -webkit-box-shadow: 2px 15px 20px 8px rgba(221, 221, 221, 0.75);
  -moz-box-shadow: 2px 15px 20px 8px rgba(221, 221, 221, 0.75);
  transition: all 250ms ease-in;
  position: relative;
}

.container::-webkit-scrollbar {
  display: none;
}

.content span {
  text-align: center;
  margin-top: 20px;
  display: none;
}

.main {
  border: 1px solid orange;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main p {
  font-size: 1.8rem;
}

.main img {
  width: 50px;
  object-fit: contain;
  margin-top: 20px;
  cursor: pointer;
}

.main input {
  display: none;
}

.link-div {
  padding: 10px 20px;
  border: 1px solid orange;
  margin-top: 20px;
  border-radius: 8px;
  display: none;
  transition: display 2s ease-in;
}

.link-div p {
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.link-div input {
  width: 100%;
  font-size: 1rem;
  opacity: 0.8;
  border: none;
  max-width: 90%;
  outline: none;
  text-overflow: ellipsis;
}

.link-div img {
  margin-left: 10px;
  cursor: pointer;
  margin-left: auto;
}

.link-div-main {
  display: flex;
  align-items: center;
}

.mail-div {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid orange;
  border-radius: 8px;
  transition: display 2s ease-in;
  display: none;
}

.mail-div-main {
  display: flex;
  flex-direction: column;
}

.mail-div h5 {
  font-size: 1.2rem;
  text-align: center;
}

.mail-div input {
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid orange;
  margin-top: 10px;
  font-size: 1rem;
  opacity: 0.8;
}

#submit {
  margin-top: 20px;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: orange;
  color: #fff;
  font-size: 1rem;
  border-radius: 6px;
  font-weight: 600;
}

#submit:disabled {
  background-color: #fab973;
  cursor: normal;
}

.dragged {
  background-color: rgba(255, 166, 0, 0.103);
  border: 1px dotted orange !important;
}

.message {
  background-color: orange;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 1.05rem;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: all 250ms ease-in;
  position: fixed;
  justify-content: center;
  bottom: 5%;
  z-index: 20;
  transform: scale(0);
  box-shadow: -3px 14px 19px 7px rgba(221, 211, 211, 0.75);
}

#msg-icon {
  display: flex;
  align-items: center;
}

.message p {
  margin-left: 10px;
}

.show-message {
  transform: scale(1);
}

.progress-bar {
  width: 100%;
  height: 70px;
  border: 1px solid orange;
  margin-top: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 10;
  display: none;
}

.progress-bar p {
  margin-top: 10px;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 37%;
  font-size: 1.1rem;
  font-weight: 600;
}
.progress-bar h4 {
  margin-top: 10px;
  z-index: 10;
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 45%;
  font-size: 1.1rem;
  font-weight: 600;
}

#progress {
  width: 0%;
  height: 100%;
  background-color: rgba(255, 206, 115, 0.794);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -10;
  transition: all 250ms ease-in;
}

.selected-file {
  display: none;
}

.selectMain {
  border: 1px solid orange;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.left > span {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.left span h5 {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left span p {
  margin-left: 10px;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.left {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

#remove-file {
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  background-color: orange;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.05rem;
  margin-left: 20px;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tracking-out-contract {
  -webkit-animation: tracking-out-contract 0.7s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: tracking-out-contract 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-out-top {
  -webkit-animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-15 12:31:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-15 12:19:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-15 12:17:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-out-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-15 12:6:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-15 12:12:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 668px) {
}

@media screen and (max-width: 445px) {
  .selectMain {
    flex-direction: column;
    align-items: center;
  }

  .progress-bar p {
    left: 30%;
  }

  #remove-file {
    margin-top: 20px;
  }
}
